{% css %}
    .so-full-details .contact-form-extensions-submission {
        padding: 24px var(--padding);
        background-color: white;
    }
{% endcss %}
<div class="contact-form-extensions-submission">
    <h3>{{ "Subject"|t('contact-form-extensions') }}</h3>
    <p>{{ submission.subject }}</p>
    <h3>{{ "From name"|t('contact-form-extensions') }}</h3>
    <p>{{ submission.fromName }}</p>
    <h3>{{ "From email"|t('contact-form-extensions') }}</h3>
    <p>{{ submission.fromEmail }}</p>
    {% for key, value in messageObject %}
        {% if key != "formName" and key != "toEmail" and key != "confirmationSubject" and key != "confirmationTemplate" and key != "notificationTemplate" and key != "disableRecaptcha" and key != "disableConfirmation" %}
            <h3>{{ key|ucfirst|t('contact-form-extensions') }}</h3>
            {% if value is iterable %}
                {% for item in value %}
                    <p>{{ item|nl2br }}</p>
                {% endfor %}
            {% else %}
                <p>{{ value|nl2br }}</p>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
